header {
    width: 100%;
    height: 100px;
    background-color: black;
}


div {
      width: 200px;
      height: 200px;
      margin: 10px;
      border: 1px solid red;
      /*background-image: url("images/Captura de pantalla 2012-10-26 a la(s) 21.25.58.png");*/
      /*background-size:cover;*/
      display:inline-block;
      box-sizing: border-box;
    float: left;
}


img{
    width: 200px;
    height: 200px;
    border: 20px groove brown;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;


}.imguno{
    width: 200px;
    height: 200px;
    border: 50px dashed brown;
}.imgdos{
    width: 200px;
    height: 200px;
    border: 50px outset brown;
}.imgtres{
    width: 200px;
    height: 200px;
    border: 50px dotted brown;
}.imgcuatro{
    width: 200px;
    height: 200px;
    border: 50px ridge brown;
}


 

