div {
     width: 400px;
     height: 200px;
     border:5px dashed darkred;
    /*background-color: aqua;*/
    margin: 20px  60px;
    background-image: url("images/Android_nuevo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#specialito{
    width: 100%;
    height: 100%;
    font-size: 36px;
    text-align: center;
    border:10px solid green;
    /*box-sizing: border-box;*/
}

[target=_blank] {
    color:red;
}

p {
     font-size: larger;
}

a:link {
    color:greenyellow;
    font-size:250%
}

a:visited {
    color:darkred;
    font-size: 100%;
}
a:hover {
    color:blue;
    font-size:250%
}

a:active {
    color:bisque;
    
}