html {
    font-size: 24px;
    font-family:'Quicksand',
                'Roboto Slab'
}

h1 {
    /*font-family:*/
            /*'Quicksand',*/
            /*'Roboto Slab',*/
            /*"Bitstream Vera Sans Mono",*/
            /*"American Typewriter",*/
            /*"Adobe Fan Heiti Std",*/
            /*sans-serif;*/
    font-weight: bold;
    font-size:2rem;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    line-height: 2;
    border:1px solid black;
    text-shadow: 2px -2px 2px red;
    /*text-decoration: line-through;*/
    /*text-decoration-color: black;*/
    /*text-decoration-style: wavy;*/
    
}

h2 {
    /*font-family:*/
            /*'Quicksand',*/
            /*'Roboto Slab',*/
            /*"Bitstream Vera Sans Mono",*/
            /*"American Typewriter",*/
            /*"Adobe Fan Heiti Std",*/
            /*sans-serif;*/
    font-weight: bold;
    font-size:1.5rem;
    font-style: italic;
}

p {
    /*font-family:*/
        /*"Bitstream Vera Sans Mono",*/
        /*"American Typewriter",*/
    /*"Adobe Fan Heiti Std",*/
    /*sans-serif;*/
    max-width: 2000px;
    font-size: 1.7rem;
    font-weight: 500;
    
    font-style: italic;
    text-indent: 10%;
    text-transform: uppercase;
}

div {
    width:90%;
    height: 3rem;
    font-size:1.7rem;
    text-align: center;
    border: 1px solid #ff0033;
    /*text-shadow: 1px 1px 2px red;*/
    

}

article {

    font-size: 1rem;
    /*letter-spacing: 1rem;*/
    /*text-shadow: 1px 1px 1px blue;*/
    
}
a {text-decoration: none}

a:visited{
        text-decoration: underline;
        color:red;

}

a:hover{
    text-decoration:underline;
}

img {
    display:block;
    margin:auto;
}

figcaption {
    color:red;
    display:block;
    margin:auto;
}