* {
    border: 1px dashed pink;
}

html{
    /*font-size: 2rem;*/
}

ul {
    list-style: none;
}

li {
    display:inline-block;
    padding:2px;
}

a {
    background-color: #00FF00;
    border:1px solid black;
    border-radius: 25px;
    padding:4px;
    margin-right:10px;
    margin-left: 4px;

    display:inline-block;
    text-decoration: none;
    /*display:inline;*/
}

a:hover {
    background-color: blue;
    color:white;
}