*{
    border: 1px dashed hotpink;
}

p, div {
    border:2px solid #000;
    padding:1px;
    margin:1px;
    width:100PX;
    height: 50px;
    border-radius: 25px;
    display:inline-block;
    /*display: inline;*/
}

.class1 {
    background-color: red;
}

.class2{
    background-color:blue ;
}

.class3{
    background-color:yellow;
}

.class4 {
    background-color: green;
}
span{
    color:red;
}

